<html>

<head>
    <title>

    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

</head>
<style>
    table,
    td {
        border: 1px solid black;
        border-collapse: collapse;
        vertical-align: top;
    }

    .sidenav {
        height: 82.50%;
        /* Full-height: remove this if you want "auto" height */
        /* width: 228px; */
        width: 170px;
        /* Set the width of the sidebar */
        position: fixed;
        /* Fixed Sidebar (stay in place on scroll) */
        z-index: 1;
        /* Stay on top */
        top: 85;
        /* Stay at the top */
        left: 30;
        background-color: rgb(250, 250, 250);
        /* Black */
        overflow-x: hidden;
        /* Disable horizontal scroll */
        padding-top: 20px;
    }

    /* The navigation menu links */
    .sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        color: #000000;
        display: block;
    }

    /* When you mouse over the navigation links, change their color */
    .sidenav a:hover {
        color: #747474;
    }

    #LOGO {
        width: 70px;
        height: 70px;
        float: right;
    }

    #MEMBER {
        width: 65px;
        height: 65px;
    }

    #MENU {
        vertical-align: top
    }
</style>
<script>

    var position = "<%= position %>"
    var isCRUD = "<%= isCRUD %>"
    console.log("show crub " + isCRUD)
    function checkRole() {
        var dataT = document.getElementById("show");
        if (isCRUD == "true") {
            dataT.style.display = "block";
        } else {
            dataT.style.display = "none";
        }
        var btn = document.getElementById("pos");
        if (position == 'พนักงาน') btn.style.display = "none";
    }
    function ClickB() {
        var dataT = document.getElementById("show");
        isCRUD = "true"
        dataT.style.display = "block";
    }

    function ClickL() {
        var dataT = document.getElementById("show"); 
        dataT.style.display = "none";
        return isCRUD = "false"
    }

</script>

<body onload="checkRole()">
    <table width=98% height=100% align=center>
        <tr>
            <td>
                <img src="https://firebasestorage.googleapis.com/v0/b/image-78533.appspot.com/o/LOGO.jpg?alt=media&token=2cf8f078-3b91-4507-9ba3-fed6e649946c"
                    alt="LOGO" id="LOGO">
            </td>
            <td align=right colspan=3 height="5%">
                <img src="https://firebasestorage.googleapis.com/v0/b/image-78533.appspot.com/o/MEMBER.jpg?alt=media&token=0593e931-01cb-4662-be7c-e34a7da5fe85"
                    alt="MEMBER" id="MEMBER">

                <h style="text-align: right;">ชื่อ: </h>
                <h style="color: red;">
                         <%= name %>
                        <%= surname %>
                </h>
            </td>
        </tr>
        <tr>
            <td width=10% align=center>
                <div class="sidenav">
                    <a href="#" id="pos" onclick="ClickB()">จัดการข้อมูลผู้ใช้</a>
                    <br><br><br>
                    <a href="/logout" onclick="ClickL()">ออกจากระบบ</a>
                </div>
            </td>
            <td>
                <div class="div2" id="show">
                    <table style="width:100%">
                        <!-- INPUT BUTTON search -->
                        <div class="continer" style="margin-right: 245spx;">
                            <div class="d-flex bd-highlight mb-3">
                                <form action="/search" method="POST">
                                    <div class="me-auto p-2 bd-highlight"></div>
                                    <div class="p-2 bd-highlight">
                                        <div class="input-group">
                                            <b style="padding: 5px;">ค้นหาข้อมูลผู้ใช้ :</b>
                                            &nbsp; &nbsp;
                                            <input type="text" class="form-control" placeholder="ค้นหาข้อมูล"
                                                name="search" id="search">
                                        </div>
                                    </div>
                                    <div class="p-2 bd-highlight">
                                        <button type="submit" class="btn btn-info">ค้นหา</button>
                                    </div>
                                </form>
                                &nbsp; &nbsp;
                                <div class="p-2 bd-highlight">
                                    <a href="/add" method="get">
                                        <button type="button" class="btn btn-success">เพิ่มข้อมูล</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <tr>
                            <table class="table table-dark table-striped" style="width:70%" align="center"
                                id="tableshow">
                                <thead>
                                    <tr>
                                        <th>ลำดับ</th>
                                        <th>ชื่อ</th>
                                        <th>สกุล</th>
                                        <th>ตำแหน่ง</th>
                                        <th>เงินเดือน</th>
                                        <th>ยอดขายรวม</th>
                                        <th>แก้ไข</th>
                                        <th>ลบ</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if(data.length){ for(var i=0; i< data.length; i++) {%>
                                        <tr>
                                            <th scope="row">
                                                <%= data[i].id_employee%>
                                            </th>
                                            <td>
                                                <%= data[i].name%>
                                            </td>
                                            <td>
                                                <%= data[i].surname%>
                                            </td>
                                            <td>
                                                <%= data[i].position%>
                                            </td>
                                            <td>
                                                <%= data[i].salary%>
                                            </td>
                                            <td>
                                                <%= data[i].total_sale%>
                                            </td>
                                            <td>
                                                <a class="btn btn-primary"
                                                    href="edit/<%=data[i].id_employee%>">แก้ไข</a>
                                            </td>
                                            <td>
                                                <!-- <a class="btn btn-danger" href="delete/<%=data[i].id_employee%>">ลบ</a> -->
                                                <a class="btn btn-danger" href="delete/<%=data[i].id_employee%>">ลบ</a>
                                            </td>

                                        </tr>
                                        <% } }else{ %>
                                            <tr>
                                                <td colspan="3">No user</td>
                                            </tr>
                                            <% } %>
                                </tbody>
                            </table>
                </div>
        </tr>
    </table>
    </div>
    </td>
    </tr>
    <tr>
        <td align=center colspan=3 height="5%" style="background-color:#20eb31">
        </td>
    </tr>
    </table>
</body>

</html>